/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
.site-content{text-align: center}
html,
button,
input,
select,
textarea {
	
    color: #e6e6e6;
}


html {
    font-size: 1em;
    line-height: 1.4   
    
}
 



/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fd;
    text-shadow: none;
}

::selection {
    background: #3d2f0c;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: dotted;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   html {
	    background: url('../img/untitled-1.png') center center no-repeat;
	    background-size: cover;
		-webkit-background-size: cover;
	    -moz-background-size: cover;
		font-family:'Radley', serif; 
   }

   .site-wrapper {
   		width: 760px;
	   margin: 0 auto;
	   border: 5px solid #fff;
	   background:#e7e3dd url(../img/content_texture.png) left top repeat
   }
   
   .brand {
	   margin: 5px;
   }
   
   .site-header {
	   width: 80%;
	   margin: 0 auto;
	   background: url(../img/Dashed_Rule.png) left bottom repeat-x;
	   padding-bottom: 20px;
   }
   
   
   
   .page-nav {
   	margin: 0;
	  padding: 0;
	  text-align: center; 
	  border-bottom: 2px solid #8b8a88;
   }
   
   .page-nav li {
    display: inline-block;
    color:gray;
    margin-left: 30px;
	font-size: 25px;
	padding-left: 46px;
	background: url(../img/Stars.png) left center no-repeat;

   }

   .page-nav li:first-child{
		margin-left: 0;
		padding-left: 0;
		padding-bottom: 20px;
		background-image:none;
   }
   
   .page-nav li a{
	   color: #59543f;
	   text-decoration: none;
	   margin-top: 60px;
	   
	   
   }
   
   .page-nav li a:hover {
	   color: #bd6314;
   }
   
    {
	margin: 0;
	  padding: 0;
	  text-align: center; 
	  border-bottom: 2px solid #8b8a88;
   }
   
   .zig-zag {
	   border: none;
	   height: 28px;
	   background: url(../img/Zig_Zag.png) left top repeat-x;
	   width: 100%;
	   margin-bottom: 0px;
   }
   
   .dotted {
	   width: 80%;
	   margin: 0 auto;
	   background: url(../img/Dashed_Rule.png) left bottom repeat-x;
	   padding-bottom: 20px;
   }
   
   .dotted-menu {
	   width: 95%;
	   margin: 0 auto;
	   background: url(../img/Dashed_Rule.png) left bottom repeat-x;
	   padding-bottom: 20px;
   }
   
     .twitter {
	   margin-left: 580px;
	   margin-bottom: 30px;
	   margin-top: 0;
	   padding: 0;
	   
	      }
   
   .facebook {
	   margin-left: 540px;
	   margin-bottom: 0;
	   padding: 0;
	   position: absolute;
   }
   
 
 
   .days {
	   margin-top: 60px;
	   font-size: 13px;
	   background: #5f5334;
	   padding: 5px;
	   margin: 0;
	   
	   
   }
   
   .days2 {
	   margin-top: 60px;
	   font-size: 13px;
	   background: #5f5334;
	   padding: 5px;
	   
   }

   
   .info {
	   color: #bcb59e;
	  
   }
   
   .map a{
	   color:rgba(226,226,226,1);
	   text-decoration: none;
	   margin-top: 60px;
	   font-size: 13px;
	   background: #5f5334;
	   padding: 5px;
   }
   
  .map a:hover {
	   color: #534307;
   }
   
   #location {
	   background: #ae5a15;
	   padding: 10px;
	   margin-top: 0px;
   }
   
   
   .menu-nav li {
	   display: inline;
	   background-color: #73a392;
	   padding: 20px; 
	   word-spacing: 5px;
	   
	   
	   
	    
   }
   
   .menu-nav li a{
	   color: rgba(255,255,255,0.77);
	   text-decoration: none;
	   
   }
   
   #menu {
	   color: #4c4c4c
   }
   

   .menu-item-desc strong {
	   
   }
   

.menu-items-slides {
	box-shadow: none;
	border-radius: 0;
	border: none;
	background: none;
	margin-bottom: 30px;
}

.menu-items-slides .slides {
	margin-right: 46px;
	margin-left: 46px;
}

.flex-control-thumbs {

	margin: 20px 0 0 0;
	padding: 30px 0;
	background: #534741;
	border:#534741; 
	float: center;	
}

.flex-control-thumbs > :first-child {
	padding-left: 46px;
}

.flex-control-thumbs > :last-child {
	padding-right: 46px;
}

.menu-items .menu-item img {
	width: 50%;
	height: auto;
	float: left;
	padding-top: 30px;
}

.menu-items .menu-item-text {
	float: right;
	width: 45%;
}

.menu-item-text {
display:block;
margin-top: 50px;
background: none;
text-align:left;
}

.arrow {
float:right;

}

.arrow-tail{
float:left;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
